@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.text-center{
  text-align: center;
}
.example-container{
  height: 50%;
  width: 20%;
  text-align: center;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rebeccapurple !important;
}
.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rebeccapurple;
}
.main{
  font-family: Arial, Helvetica, sans-serif;
}


